<h1>Functions</h1>
<% @functions.each do |function| %>
<%= link_p function.Function_title, function %>
<% end %>
<%= paginate @functions, :browse_uri => nil %>

<% content_for :title do %>
<% "Functions" %>
<% end %>
