<%= make_header "Function" %>
<div class="entity_data">
<%= make_title @function.Function_title %>
<%= simple_field "Date range", @function.date_range %>
<%= rich_field "Descriptive note", @function.Descriptive_note %>
</div>
