<H1>State Records NSW API documentation</H1>
<p>This is documentation for the State Records Authority of NSW API. Source code for the API is available on <a href="https://github.com/srnsw/api.records.nsw.gov.au">Github</a>. If you encounter any bugs, or have feature requests, please report them on the <a href="https://github.com/srnsw/api.records.nsw.gov.au/issues">issues page</a>.</p>
<H2>General</H2>
<p>All API responses return at least XML or JSON. Depending on the method, additional formats (such as MODS) may also be returned. Formats can be specified by adding a dot extension (e.g. <a href="/search.xml?q=coal">/search.xml?q=coal</a>) or a format parameter (e.g. <a href="/search?q=coal&format=xml">/search?q=coal&format=xml</a>).</p>
<%= search_documentation %>
<%= entity_documentation %>
<H2>Licensing</H2>
<p>Data in this API is released under the <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/au/">Creative Commons Attribution-NonCommercial 3.0 Australia License</a>.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/au/"><img style="border-width: 0;" src="http://i.creativecommons.org/l/by-nc/3.0/au/88x31.png" alt="Creative Commons License" /></a></p>
<p>This license allows users to share and remix the data so long as it is attributed to State Records NSW and is used for non-commercial purposes.</p>
