<div class="collection_search">
<%= form_tag(search_path, :method=> "get")  do %>
  <% if params %>
    <%= text_field_tag(:q, params[:q]) %>
  <% else %>
    <%= text_field_tag(:q) %>
  <% end %>
  <%= submit_tag("Collection search", :class=> "collection_search", :name=> nil)%>
<% end %>
</div>
