<%= render 'search' %>

<br>
<br>

<%= render 'adsearch' %>

<br>
<br>

<p>If you are a developer, see the <%= link_to "API Documentation", {:action=> "index", :controller => "usage"} %>.</p>
<% content_for :title do %>
<% "State Records NSW API" %>
<% end %>