<div class="relations_item">
<%= link_header title, browse_uri %>
<% activities.each do |activity| %>
<div class="collection_search_result">
<%= link_i activity.Activity_title, activity %>
</div>
<% end %>
<%= page_navigation(activities.page_details) %>
</div>
