<div class="relations_item">
<%= link_header title, browse_uri %>
<% agencies.each do |agency| %>
<div class="collection_search_result">
<%= link_i agency.Agency_title, agency %>
</div>
<% end %>
<%= page_navigation(agencies.page_details) %>
</div>
