<div class="relations_item">
<%= content_tag :h4, title %>
<% agencies.each do |agency| %>
<div class="collection_search_result">
<%= link_i agency.Agency_title, agency %>
</div>
<% end %>
<%=  paginate agencies, :param_name => param_name, :default_per_page => 5, :browse_uri => browse_uri %>
</div>
