<div class="relations_item">
<%= content_tag :h4, title %>
<% functions.each do |function| %>
<div class="collection_search_result">
<%= link_i function.Function_title, function %>
</div>
<% end %>
<%= paginate functions, :param_name => param_name, :per_page => 5, :browse_uri => browse_uri %>
</div>
