<div class="relations_item">
<%= link_header title, browse_uri %>
<% functions.each do |function| %>
<div class="collection_search_result">
<%= link_i function.Function_title, function %>
</div>
<% end %>
<%= page_navigation(functions.page_details) %>
</div>
