<div class="relations_item">
<%= content_tag :h4, title %>
<% functions.each do |function| %>
<div class="collection_search_result">
<%= link_i function.Function_title, function %>
</div>
<% end %>
<%= page_navigation(functions.page_details) %>
</div>
