<div class="relations_item">
<%= content_tag :h4, title %>
<% items.each do |item| %>
<div class="collection_search_result">
<%= link_i item.Item_title, item %>
</div>
<% end %>
<%= page_navigation(items.page_details) %>
</div>
