<div class="relations_item">
<%= link_header title, browse_uri %>
<% ministries.each do |ministry| %>
<div class="collection_search_result">
<%= link_i ministry.Ministry_title, ministry %>
</div>
<% end %>
<%= page_navigation(ministries.page_details) %>
</div>
