<div class="relations_item">
<%= link_header title, browse_uri %>
<% persons.each do |person| %>
<div class="collection_search_result">
<%= link_i person.name_long, person %>
</div>
<% end %>
<%= page_navigation(persons.page_details) %>
</div>
