<div class="relations_item">
<%= content_tag :h4, title %>
<% portfolios.each do |portfolio| %>
<div class="collection_search_result">
<%= link_i portfolio.Portfolio_title, portfolio %>
</div>
<% end %>
<%= paginate portfolios, :param_name => param_name, :per_page => 5, :browse_uri => browse_uri %>
</div>
