<div class="relations_item">
<%= content_tag :h4, title %>
<% series.each do |s| %>
<div class="collection_search_result">
<%= link_i s.Series_title, s %>
</div>
<% end %>
<%= page_navigation(series.page_details, browse_uri) %>
</div>
