<div class="relations_item">
<%= link_header title, browse_uri %>
<% series.each do |s| %>
<div class="collection_search_result">
<%= link_i s.Series_title, s %>
</div>
<% end %>
<%= page_navigation(series.page_details) %>
</div>
