<div class="relations_item">
<%= content_tag :h4, title %>
<% series.each do |s| %>
<div class="collection_search_result">
<%= link_i s.Series_title, s %>
</div>
<% end %>
<%= paginate series, :param_name => param_name, :per_page => 5, :browse_uri => browse_uri %>
</div>
