<div class="user_contents_item">
	<%= form_tag do %>
	<p>Tags:
	   <% if tags %>
			<% tags.each do |tag|%>
			<%= link_to "#{tag.tag} ", "/tags/#{tag.tag}" %>
			<% end %>
		<% end %>
	</p>
	<p><input type="text" name="tag" /> <input type="submit" value="Add" /> </p>
	<% end %> 

</div>