<div class="user_contents_item">
	<%= form_tag do %>
	<p>Tags:
	   <% if tags %>
			<% tags.each do |tag|%>
   			<%  if current_user %>
				  <%= link_to image_tag("cross.png"), "/tags/#{tag.id}", :method => "delete", :confirm => "Delete \"#{tag.safe_tag}\" tag?" %>
   			<% end %>
   		  <%= link_to "#{tag.tag} ", "/tags/#{tag.safe_tag}" %>
			<% end %>
		<% end %>
	</p>
	<p><input type="text" name="tag" /> <input type="submit" value="Add" /> </p>
	<% end %> 

</div>