<%= make_header "Portfolio" %>
<div class="entity_data">
<%= make_title @portfolio.Portfolio_title %>
<%= simple_field "Date range", @portfolio.date_range %>
<%= rich_field "Descriptive note", @portfolio.Descriptive_note %>
</div>
