<h1>Persons</h1>
<% @persons.each do |person| %>
<%= link_p person.name_short, person %>
<% end %>
<%= paginate @persons, :browse_uri => nil %>

<% content_for :title do %>
<% "Persons" %>
<% end %>