<h1>Agencies</h1>
<% @agencies.each do |agency| %>
<%= link_p agency.Agency_title, agency %>
<% end %>
<%= page_navigation(@agencies.page_details) %>

<% content_for :title do %>
<% "Agencies" %>
<% end %>
