<h1>Agencies</h1>
<% @agencies.each do |agency| %>
<%= link_p agency.Agency_title, agency %>
<% end %>
<%= paginate @agencies, :browse_uri => nil %>
<%= "#{@agencies.length} items in total of #{@agencies.total_count} items" %>
<%= @agencies.to_xml(:except => :__rn) do |xml|%>
<% xml.some_tag "some_value" %>
<% xml.some_tag2 "some_value22" %>
<% end %>

<% content_for :title do %>
<% "Agencies" %>
<% end %>
