<% content_for :title do %>
<% "Tags" %>
<% end %>

<h1>Tags</h1>

<% @tags.each do |tag| %>
<% if params[:id]%>
        <%= link_to tag.tag, tag %>
<% else %>
        <%= link_to tag, "/tags/#{tag}" %>
<% end %>
<% end %>
