<h1>Activities</h1>
<% @activities.each do |activity| %>
<%= link_p activity.Activity_title, activity %>
<% end %>
<%= paginate @activities, :browse_uri => nil %>

<% content_for :title do %>
<% "Activities" %>
<% end %>
