<br>

<%= content_tag :h4, "Archives2Share" %>
<%= "#{@photos.count} images of State archives shared by our users" %>

<!-- thumbnail scroller markup begin -->
<div id="tS1" class="jThumbnailScroller" style="margin-top:20px;">
   <div class="jTscrollerContainer">
      <div class="jTscroller">
      <% @photos.to_a.sample(10).each do |photo| %>
      <%= link_to image_tag(flickr_photos_thumbs photo), FlickRaw.url_photopage(photo) %>
      <% end %>
      </div>
   </div>
</div>
<!-- thumbnail scroller markup end -->

<br>
<a href="http://www.flickr.com/groups/archives2share">Upload and share</a> your own images
<br>
<br>