<h1>Series</h1>
<% @series.each do |series| %>
<%= link_p series.Series_title, series %>
<% end %>
<%= paginate @series, :browse_uri => nil %>

<% content_for :title do %>
<% "Series" %>
<% end %>
