<h1>Series</h1>
<% @series.each do |series| %>
<%= link_p series.Series_title, series %>
<% end %>
<%= paginate @series, :browse_uri => nil %>

<% content_for :title do %>
<% "Series" %>
<% end %>

<% content_for :head do %><link rel="unapi-server" type="application/xml" title="unAPI"
    href="<%= url_for(:action => 'index', :controller=> 'unapi', :only_path => false)%>" />
<% end %>
<abbr class="unapi-id" title="<%= url_for(:only_path => false) %>"></abbr>